---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <section class="mb-12 flex flex-col gap-6 md:flex-row md:gap-24">
    <div>
      <p class="text-blue-gray mb-3 font-light text-lg">Segmento</p>
      <p class="text-cold-gray text-lg">Transporte e Logística</p>
    </div>
    <div>
      <p class="text-blue-gray mb-3 font-light text-lg">Cliente</p>
      <p class="text-cold-gray text-lg">Grupo Apisul</p>
    </div>
    <div>
      <p class="text-blue-gray mb-3 font-light text-lg">Ano</p>
      <p class="text-cold-gray text-lg">2023</p>
    </div>
  </section>

  <main class="relative md:mt-28"></main>
</Layout>
