---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';

import img1 from '@assets/pd/dbc/01.webp';
import img2 from '@assets/pd/dbc/02.webp';
import img3 from '@assets/pd/dbc/03.webp';
import img4 from '@assets/pd/dbc/04.webp';
import Container from '@components/Container.astro';
---

<Layout>
  <Container>
    <section class="mb-12 flex flex-col gap-6 md:flex-row md:gap-24">
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Segmento</p>
        <p class="text-cold-gray text-lg">Tecnologia</p>
      </div>
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Cliente</p>
        <p class="text-cold-gray text-lg">DBC</p>
      </div>
      <div>
        <p class="text-blue-gray mb-3 font-light text-lg">Ano</p>
        <p class="text-cold-gray text-lg">2022</p>
      </div>
    </section>

    <main class="relative space-y-20 mb-24 md:mt-28">
      <div>
        <h1 class="text-[2rem] leading-[2.8rem] text-cold-gray font-light md:text-[2.5rem] md:leading-[3.5rem] lg:text-[4rem] lg:leading-[5rem]">
          DBC
        </h1>

        <h2 class="text-[2rem] leading-[2.8rem] text-blue-gray font-light md:text-[2.5rem] md:leading-[3.5rem] lg:text-[4rem] lg:leading-[5rem]">
          Um <a href="https://www.dbccompany.com.br/" target="_blank" rel="noopener noreferrer" class="no-underline text-inherit hover:underline">site</a> para comunicar o novo posicionamento e  
          <span class="sm:whitespace-nowrap">marca de uma empresa de TI.</span>
        </h2>             
                
      </div>

      <!-- Seção de imagens com títulos -->
      <section class="space-y-14">
        <div>
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Home</h2>
          <Image src={img1} alt="Descrição da imagem 1" class="rounded-3xl" />
        </div>
        <div>
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Sobre</h2>
          <Image src={img2} alt="Descrição da imagem 2" class="rounded-3xl" />
        </div>
        <div>
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Tech Update - Blog</h2>
          <Image src={img3} alt="Descrição da imagem 3" class="rounded-3xl" />
        </div>
        <div>
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Contato</h2>
          <Image src={img4} alt="Descrição da imagem 4" class="rounded-3xl" />
        </div>
      </section>

      <!-- Ferramentas -->
      <section>
        <div class="flex flex-col md:flex-row md:justify-between md:gap-4">
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">Ferramentas</h2>
          <div class="space-y-8 md:basis-2/3 xl:basis-1/2">
            <p class="text-cold-gray leading-7">Adobe XD</p>
          </div>
        </div>
      </section>

      <!-- Equipe -->
      <section>
        <div class="flex flex-col md:flex-row md:justify-between md:gap-4">
          <h2 class="text-2xl text-cold-gray mb-6 md:basis-1/3 xl:basis-1/2">A Equipe</h2>
          <div class="space-y-8 md:basis-2/3 xl:basis-1/2">
            <p class="text-cold-gray leading-7">Bitfans (Development)</p>
            <p class="text-cold-gray leading-7">Felipe Amaral (Direção Criativa)</p>
            <p class="text-cold-gray leading-7">Gabriela Dall’Agnol (UI Designer)</p>
            <p class="text-cold-gray leading-7">Ricardo Franco (Motion Designer)</p>
          </div>
        </div>
      </section>
    </main>
  </Container>
</Layout>