---
import Layout from '@layouts/Layout.astro';
import { Tabs } from '@components/Tabs';
---

<Layout>
  <section class="mb-12">
    <h1 class="text-[2rem] leading-9 text-cold-gray font-light">
      Designer que cria conexões entre
      <span class="text-blue-gray">pessoas, negócios e soluções estratégicas.</span>
    </h1>
  </section>

  <main>
    <Tabs client:load />
  </main>
</Layout>
