---
import Layout from '@layouts/Layout.astro';
---

<Layout>
  <section>
    <h1 class="text-4xl font-thin">
      Designer que cria conexões entre
      <span class="text-foreground block">pessoas, negócios e soluções estratégicas.</span>
    </h1>
  </section>

  <main></main>
</Layout>
