---
import Layout from '@layouts/Layout.astro';
import { Tabs } from '@components/Tabs';
import backgroundGlass from '@assets/background-glass.png';
---

<Layout>
  <div class="hidden md:block md:relative">
    <img
      src={backgroundGlass.src}
      alt=""
      class="md:absolute md:top-14 md:left-52 lg:top-48 lg:left-96 xl:top-24 xl:left-[34rem] 2xl:left-[40rem]"
    />
  </div>
  <section class="mb-12">
    <h1
      class="text-[2rem] leading-[2.5rem] text-cold-gray font-light md:text-[2.5rem] md:leading-[3.5rem] lg:text-[4rem] lg:leading-[5rem]"
    >
      Designer que cria <span class="whitespace-nowrap">conexões entre</span>
      <br />
      <span class="text-blue-gray">pessoas, negócios e soluções estratégicas.</span>
    </h1>
  </section>

  <main class="relative md:mt-28">
    <Tabs client:load />
  </main>
</Layout>
