---
import photo from '@assets/img-gabi.png';
---

<section class="bg-lilac-blue p-6 text-blue-black pb-20">
  <h2 class="text-2xl">Sobre</h2>
  <img src={photo.src} alt="Profile picture" class="my-10" />
  <p class="text-blue-black text-xl font-light my-10">Designer e artista nas horas vagas de Porto Alegre-RS.</p>
  <p class="text-blue-black font-light">
    Com mais de 7 anos de atuação, meu trabalho integra UX/UI, branding e design estratégico para criar soluções
    funcionais e escaláveis. Acredito que a simplicidade é a chave para transformar complexidade em valor real,
    alinhando as metas de negócios às necessidades das pessoas. Valorizo processos baseados em pesquisa e dados,
    conduzindo projetos de forma colaborativa com equipes e stakeholders para entregar resultados tangíveis e
    experiências que fazem a diferença.
  </p>
  <div class="mt-10 space-y-10">
    <div class="space-y-2">
      <p class="text-blue-black text-xl">Para equipes de produtos digitais</p>
      <p class="text-blue-black font-light">
        Realizo pesquisas e análises de UX para entender o comportamento do usuário, ajudando as equipes a reimaginar
        desafios e criar produtos mais intuitivos, eficientes e impactantes.
      </p>
    </div>
    <div class="space-y-2">
      <p class="text-blue-black text-xl">Para negócios em crescimento</p>
      <p class="text-blue-black font-light">
        Apoio na definição de problemas e no design de soluções digitais, desde MVPs até produtos mais robustos,
        ajudando a transformar ideias em realidades escaláveis.
      </p>
    </div>
    <div class="space-y-2">
      <p class="text-blue-black text-xl">Para empresas</p>
      <p class="text-blue-black font-light">
        Crio experiências estratégicas que conectam marcas aos seus públicos, entregando soluções funcionais e atraentes
        que impulsionam resultados.
      </p>
    </div>
  </div>

  <section class="mt-10 space-y-7">
    <h3 class="text-2xl">Experiência</h3>
    <div class="space-y-5">
      <p class="text-xl font-light">UX/UI Designer</p>
      <p class="font-light text-blue-gray">Estúdio Nômade (2021 — Presente)</p>
    </div>
    <div class="space-y-5">
      <p class="text-xl font-light">Designer e Diretora de Arte</p>
      <p class="font-light text-blue-gray">Agência Matriz (2018 — 2021)</p>
    </div>
    <div class="space-y-5">
      <p class="text-xl font-light">Diretora de Arte</p>
      <p class="font-light text-blue-gray">Orium Data-Driven Marketing (2016 — 2017)</p>
    </div>
  </section>

  <section class="mt-20 space-y-7">
    <h3 class="text-2xl">Formação Acadêmica</h3>
    <div class="space-y-5">
      <p class="text-xl font-light">Master Gestão Estratégica de UX Design | Pós-Graduação</p>
      <p class="font-light text-blue-gray">2023 - em andamento</p>
      <p class="font-light text-blue-gray">ESPM - Porto Alegre</p>
    </div>
    <div class="space-y-5">
      <p class="text-xl font-light">Bacharelado em Design e Comunicação Visual</p>
      <p class="font-light text-blue-gray">2015 - 2019</p>
      <p class="font-light text-blue-gray">ESPM - Porto Alegre</p>
    </div>
  </section>
</section>
