---
import arrow from '@assets/arrow.svg';
---

<footer class="bg-cold-gray text-white flex flex-col px-6 py-10 gap-8">
  <p class="text-2xl leading-8">Vamos conversar?</p>
  <button class="bg-white rounded-full text-cold-gray py-4 px-12 inline-block w-fit">contato@gdallagnol.com</button>
  <ul class="space-y-4">
    <li>
      <a href="#" class="flex justify-between">
        LinkedIn
        <img src={arrow.src} alt="" />
      </a>
    </li>
    <li>
      <a href="#" class="flex justify-between">
        Behance
        <img src={arrow.src} alt="" />
      </a>
    </li>
    <li>
      <a href="#" class="flex justify-between">
        Medium
        <img src={arrow.src} alt="" />
      </a>
    </li>
  </ul>
</footer>
