---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';

const { title } = Astro.props;
const pageTitle = title || "Gabi Dall'Agnol";   
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <meta name="description" content="Portf칩lio Product Design | Branding" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Gabi Dall'Agnol" />
    <meta name="keywords" content="Designer, Product Design, UX, Branding, Portf칩lio, Gabi Dall'Agnol, Design Gr치fico" />

    <!-- Open Graph / SEO -->
    <meta property="og:title" content="Gabi Dall'Agnol" />
    <meta property="og:description" content="Portf칩lio Product Design | Branding" />
    <meta property="og:url" content="https://gdallagnol.com" />
    <meta property="og:image" content="https://gdallagnol.com/og-image.webp" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-background">
    <Header />

    <slot />

    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  import { setupCopyToClipboard } from '@utils/copyToClipboard.ts';

  setupCopyToClipboard('.copy-button', 'contato@gdallagnol.com');
</script>
